.design2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.design2-dashboard-design {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(248, 249, 251, 1);
}
.design2-dashboard {
  gap: 26px;
  top: 120px;
  left: 305px;
  width: 1095px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.design2-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.design2-header {
  gap: 24px;
  top: 0px;
  left: 267px;
  width: 1651px;
  display: flex;
  padding: 16px 40px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.design2-search-bar {
  gap: 8px;
  display: flex;
  padding: 16px;
  flex-grow: 1;
  align-items: flex-end;
  border-radius: 5px;
  background-color: rgba(247, 248, 250, 1);
}
.design2-icon16px-search {
  width: 16px;
  height: 16px;
}
.design2-text02 {
  color: rgba(185, 191, 205, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.design2-right-side {
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.design2-icon-bell {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.design2-group {
  top: 0px;
  left: 1.957078218460083px;
  width: 20.085750579833984px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.design2-vector {
  top: 21.442405700683594px;
  left: 7.098187446594238px;
  width: 6px;
  height: 3px;
  position: absolute;
}
.design2-vector1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.design2-user {
  gap: 16px;
  display: flex;
  align-items: center;
}
.design2-left-side {
  gap: 8px;
  display: flex;
  align-items: center;
}
.design2-name {
  gap: 11px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.design2-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 8px;
  font-stretch: normal;
  text-decoration: none;
}
.design2-text06 {
  color: rgba(146, 162, 171, 1);
  height: auto;
  font-size: 13px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 8px;
  font-stretch: normal;
  text-decoration: none;
}
.design2-icon16px-dropdown {
  width: 16px;
  height: 16px;
}
.design2-sidebar {
  top: 1px;
  flex: 1;
  left: 0px;
  width: 265px;
  height: 100%;
  display: flex;
  padding: 24px 32px 32px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  padding-bottom: 24px 32px 32px;
  justify-content: space-between;
  background-color: var(--dl-color-main-white);
}
.design2-top {
  gap: 58px;
  height: 588px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-bottom: 3px;
  flex-direction: column;
}
.design2-logo {
  gap: 7.5px;
  display: flex;
  align-items: center;
}
.design2-logo1 {
  width: 26px;
  height: 30px;
}
.design2-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 17.8125px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.design2-text09 {
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
}
.design2-navigation {
  gap: 32px;
  height: 503px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.design2-nav {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.design2-icon-dashboard {
  width: 24px;
  height: 24px;
}
.design2-text11 {
  color: var(--dl-color-main-bluishgrey);
  height: auto;
  font-size: 15px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.design2-nav01 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.design2-left-side1 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.design2-icon-orders {
  width: 24px;
  height: 24px;
}
.design2-text13 {
  color: rgba(146, 162, 171, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.design2-icon16px-dropdown1 {
  width: 16px;
  height: 16px;
}
.design2-nav02 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.design2-left-side2 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.design2-icon-profile {
  width: 24px;
  height: 24px;
}
.design2-text15 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.design2-icon16px-dropdown2 {
  width: 16px;
  height: 16px;
}
.design2-nav03 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.design2-left-side3 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.design2-icon-items {
  width: 24px;
  height: 24px;
}
.design2-text17 {
  color: rgba(146, 162, 171, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.design2-icon16px-dropdown3 {
  width: 16px;
  height: 16px;
}
.design2-nav04 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.design2-left-side4 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.design2-icon-transactions {
  width: 24px;
  height: 24px;
}
.design2-text19 {
  color: rgba(146, 162, 171, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.design2-icon16px-dropdown4 {
  width: 16px;
  height: 16px;
}
.design2-nav05 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.design2-icon-reports {
  width: 24px;
  height: 24px;
}
.design2-text21 {
  color: rgba(146, 162, 171, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.design2-nav06 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.design2-icon-messages {
  width: 24px;
  height: 24px;
}
.design2-text23 {
  color: rgba(146, 162, 171, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.design2-nav07 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.design2-icon-support {
  width: 22px;
  height: 23px;
}
.design2-text25 {
  color: rgba(146, 162, 171, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.design2-nav08 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.design2-icon-settings {
  width: 26px;
  height: 27px;
}
.design2-text27 {
  color: rgba(146, 162, 171, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.design2-low-navigation {
  gap: 32px;
  width: 201px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.design2-nav09 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.design2-icon-report {
  width: 24px;
  height: 24px;
}
.design2-text29 {
  color: var(--dl-color-main-bluishgrey);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: "Inter";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.design2-nav10 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.design2-icon-faq {
  width: 24px;
  height: 24px;
}
.design2-text30 {
  color: var(--dl-color-main-bluishgrey);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.table-container {
  gap: 24px;
  top: 159px;
  left: 287px;
  width: 1582px;
  display: flex;
  padding: 24px;
  position: absolute;
  align-self: stretch;
  box-shadow: 0px 21px 94px 0px rgba(0, 0, 0, 0.029999999329447746) ;
  align-items: flex-start;
  border-radius: 14px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}

.table {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.table-header {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
}
.table-header-titles {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.table-header-title-text {
  color: rgba(165, 168, 170, 1);
  font-size: 13px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}

.divider-line {
  width: 982px;
  height: 1px;
  align-self: stretch;
}

.table-body {
  gap: 8px;
  display: flex;
  padding: 0 39px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.table-row {
  gap: 16px;
  display: flex;
  padding: 7px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.table-row-text-tertiary {
  color: rgba(167, 173, 177, 1);
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.table-row-text-primary {
  color: rgba(1, 1, 1, 1);
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.table-row-text-secondary {
  color: rgba(59, 59, 59, 1);
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.table-row-status-tag {
  gap: 8px;
  width: 88px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3px;
  justify-content: center;
  background-color: rgba(231, 240, 255, 1);
}
.table-row-status-pending {
  color: rgba(108, 150, 222, 1);
  font-size: 13px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.table-row-status-approved{
  color: rgba(110, 182, 92, 1);
  height: auto;
  font-size: 13px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.table-row-status-paused {
  color: rgba(209, 168, 64, 1);
  width: 51px;
  height: auto;
  font-size: 13px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}

@media(max-width: 1600px) {
  .design2-dashboard-design {
    height: 918px;
  }
  .design2-header {
    width: 1324px;
  }
  .design2-recent-orders {
    width: 1282px;
    height: 263px;
  }
}
