/* just a reset of the css */
:root {
  --primary-text-color: #3e3e3e;
  --secondary-text-color: #8e8e8e;
  --tretiary-text-color: #bcbcbc;  
}
.table-container {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
}

.table-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.heading {
    color: var(--tretiary-text-color);
    font-size: 13px;
    font-style: Medium;
    line-height: 16px;
    font-weight: 500;
    border-bottom: 1px solid #e0e0e073;
}

.row-item {
    display: flex;
    flex: 1;
    font-size: 14px;
    padding: 0px;
    justify-content: start;
    align-items: center;
    transition: all 0.15s ease-in-out;
}

.row-sub-container {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

.row-sub-container .row-item {
    padding: 0px;
}

.table-row:last-child,
.row-sub-container .row-item:last-child {
    border-bottom: 0;
}

/* TAGGING */

.tag-status {
    padding: 8px;
    border-radius: 4px;
    font-size: 13px;
}
.tag-status#approved {
    background-color: #cbffbb;
    color: #68a157;;
}

.tag-status#pending {
    background-color: #bbe3ff;
    color: rgb(80, 119, 171);
}

.tag-status#paused {
    background-color: #f5eaad;
    color: #ccb657;
}